<%- include('components/header.html', {title: 'Flip 7 Online' , page: '' })%>

   <main>
      <section id="heroHome">
         <div class="container">
            <div class="logo">
               <div class="image">
                  <img src="src/assets/img/logo.webp" alt="">
               </div>
            </div>
            <form>
               <input type="text" placeholder="Entrer un pseudo" required />
               <button id="join">Rejoindre une salle</button>
               <button id="create" class="create">Créer une salle</button>
               <div class="launch">
                  <div class="code">731982
                     <span class="icon-copy"></span>
                  </div>
                  <button id="launch" type="submit">Démarrer</button>
               </div>
            </form>
         </div>
      </section>
   </main>
   <%- include('components/footer.html')%>