<%- include('components/header.html', {title: 'Flip 7 Online' , page: '' })%>

   <main>
      <div id="roomId" style="display: none;">000000</div>
      <div id="playerID" style="display: none;"></div>

      <section id="home" class="">
         <div class="container">
            <div class="logo">
               <div class="image">
                  <img src="src/assets/img/logo.webp" alt="">
               </div>
            </div>
            <form>
               <input value="leo" id="inputPseudo" type="text" placeholder="Entrer un pseudo" required />
               <button id="join" data-btn="joinGame">Rejoindre une salle</button>
               <button id="create" data-btn="launch">Créer une salle</button>
               <div class="launch starting">
                  <div class="code">
                     <p>000000</p>
                     <div class="copy-box" id="copyBox">
                        <span class="icon-copy"></span>
                     </div>
                  </div>
                  <button id="openRoom" type="submit">Créer</button>
                  <button id="startGame" class="hidden" type="submit">Lancer</button>
               </div>
               <div class="joinGame starting">
                  <input type="text" maxlength="6" class="code-to-paste" value="000000">
                  <button id="join2" type="submit">Rejoindre</button>
               </div>
            </form>
         </div>
      </section>

      <section id="game" class="hidden">
         <div class="bg">
            <div class="border"></div>
         </div>
         <div class="container">

            <div id="pioche">
               <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>

            <div class="players-container">
               <div class="other">

                  <!-- Insersion du template "playerArea" -->

               </div>
            </div>
         </div>

         <template id="playerAreaTemplate">
            <div class="player-area">
               <div class="infos">
                  <div class="pseudo">TiniJuice</div>
                  <div class="score">27</div>
                  <div class="scoreTotal">143</div>
               </div>
               <div class="cards">

                  <!-- Insersion du template "cardTemplate" -->

               </div>
            </div>
         </template>

         <template id="cardTemplate">
            <div class="card">
               <span class="number"></span>
            </div>
         </template>


      </section>

      <div id="lobby" class="">
         <div class="content">
            <div class="cards">

               <!-- Insersion du template ici -->

            </div>

            <!-- Template -->
            <template id="cardPlayerTemplate">
               <div class="card">
                  <div class="profil-picture">
                     <img
                        src="https://img.freepik.com/vector-premium/iconos-usuario-incluye-iconos-usuario-icones-personas-simbolos-elementos-diseno-grafico-calidad-premium_981536-526.jpg"
                        alt="">
                  </div>
                  <div class="pseudo"></div>
               </div>
            </template>

            <div class="numPlayers">0/6 joueurs</div>
         </div>
      </div>
   </main>
   <%- include('components/footer.html')%>