@use '../components/mixins' as *;



#heroHome {
    background-color: var(--color-main);
    height: 100vh;
    padding-top: 50px;

    .container {

        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 60px;

        .logo {
            .image {
                width: 100%;
                user-select: none;
            }
        }

        form {
            width: 40%;
            display: flex;
            flex-flow: column;
            gap: 10px;

            &>* {
                width: 100%;
                height: 50px;
                border: 0;
                border-radius: 6px;
            }

            input {
                padding-left: 20px;
                outline: none;
                font-size: 1.8rem;
                background-color: #00000030;
                border: 2px solid var(--color-white);
                color: var(--color-white);
                font-weight: bold;
                height: 60px;

                &::placeholder {
                    color: var(--color-white);
                }
            }

            button {
                cursor: pointer;
                font-size: 1.8rem;
                background-color: var(--color-red);
                font-weight: bold;
                box-shadow: 0 6px 0 0 var(--color-darkPurpl);
                color: var(--color-white);
                transition: filter .3s;
                will-change: filter;

                &:hover {
                    filter: brightness(.85);
                }


                &#create {
                    background-color: var(--color-yellow);
                    color: var(--color-black);
                }
            }

            .launch{
                display: flex;
                align-items: center;
                gap: 10px;
                height: 60px;
                margin-top: 10px;

                .code{
                    background: rgba(0, 0, 0, 0.155);
                    height: 100%;
                    align-content: center;
                    padding: 0 14px;
                    font-size: 2rem;
                    border-radius: 6px;
                    color: var(--color-white);
                }

                button{
                    height: 100%;
                    flex: 1;
                    border: 0;
                    border-radius: 6px;
                    background-color: var(--color-white);
                    color: var(--color-darkPurpl);
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }
    }
}







@include mq(md) {}


@include mq(sm) {}


@include mq(xs) {}


@include mq(xxs) {}