@use '../components/mixins' as *;



#home {
    background-color: var(--color-main);
    height: 100vh;
    padding: 60px 0;

    .container {

        display: flex;
        flex-flow: column;
        height: 100%;
        align-items: center;
        gap: 20px;

        .logo {
            height: 50%;

            .image {
                height: 100%;
                width: 100%;
                user-select: none;
            }
        }

        form {
            height: 50%;
            width: 40%;
            display: flex;
            flex-flow: column;
            gap: 10px;

            &>* {
                width: 100%;
                height: 50px;
                border: 0;
                border-radius: 6px;
            }

            input {
                padding-left: 20px;
                outline: none;
                font-size: 1.8rem;
                background-color: #00000030;
                border: 2px solid var(--color-white);
                color: var(--color-white);
                font-weight: bold;
                height: 60px;

                &::placeholder {
                    color: var(--color-white);
                }
            }

            button {
                cursor: pointer;
                font-size: 1.8rem;
                background-color: var(--color-red);
                font-weight: bold;
                box-shadow: 0 6px 0 0 var(--color-darkPurpl);
                color: var(--color-white);
                transition: filter .3s;
                will-change: filter;

                &:hover {
                    filter: brightness(.85);
                }


                &#create {
                    background-color: var(--color-yellow);
                    color: var(--color-black);
                }
            }

            .starting {
                display: none;
                align-items: center;
                gap: 10px;
                height: 60px;
                margin-top: 10px;

                &.active {
                    display: flex;
                }

                .code {
                    background: rgba(0, 0, 0, 0.155);
                    height: 100%;
                    align-content: center;
                    padding: 0 14px;
                    font-size: 2rem;
                    border-radius: 6px;
                    color: var(--color-white);
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    letter-spacing: 5px;

                    .copy-box {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.186);
                        padding: 6px;
                        border-radius: 3px;

                        @keyframes copy {
                            0% {
                                transform: scale(.8);
                            }

                            50% {
                                transform: scale(1.1);
                            }

                            100% {
                                transform: scale(1);
                            }
                        }

                        &.animation span {
                            animation: copy .3s ease;
                        }

                        & span {
                            pointer-events: none;
                        }
                    }
                }

                button {
                    flex: 1;
                    height: 100%;
                    border: 0;
                    border-radius: 6px;
                    background-color: var(--color-white);
                    color: var(--color-darkPurpl);
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 900;
                    width: 50%;

                    &:hover {
                        background-color: var(--color-sand);
                        filter: brightness(1);
                    }
                }

                input.code-to-paste {
                    width: 150px;
                    display: flex;
                    text-align: center;
                    padding: 0 20px;
                    border-radius: 6px;
                    letter-spacing: 6px;
                }
            }
        }
    }
}



#lobby {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 60vh;
    width: 300px;
    border: 3px solid var(--color-sand);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px;

    .content {
        position: relative;
        height: 100%;
        width: 100%;

        .cards {

            .card {
                display: flex;
                align-items: center;
                height: 60px;
                padding: 10px 0;
                gap: 20px;
                border-bottom: 1px solid var(--color-sand);

                .profil-picture {
                    height: 100%;
                    border-radius: 100%;
                    overflow: hidden;
                }

                .pseudo {
                    color: var(--color-white);
                }
            }
        }

        .numPlayers {
            color: var(--color-white);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}


#game {
    height: 100vh;
    background-color: var(--color-sand);

    .container {
        width: 100%;
        position: relative;
        height: 100%;

        #pioche {
            position: absolute;
            top: 50%;
            right: 0;
            width: 150px;
            aspect-ratio: 1/1.5;
            transform: translate(-50%, -50%);

            .box {
                position: relative;
                width: 100%;

                div {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    aspect-ratio: 1/1.5;
                    background-color: gray;
                    border-radius: 12px;
                    cursor: pointer;
                    border: 2px solid var(--color-sand);

                    &:nth-child(2) {
                        left: 8px;
                        z-index: -1;
                    }

                    &:nth-child(3) {
                        left: 16px;
                        z-index: -2;
                    }
                }
            }
        }

        .players-container{

            width: 80%;
            height: 75%;
            display: grid;
            grid-template-rows: auto;
            position: relative;

            .player-area{
                width: 100%;
                background-color: rgb(107, 107, 255);
                max-height: 200px;
                border: 1px solid black;
                padding: 8px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                &.me{
                    position: absolute;
                    bottom: -20px;
                    transform: translateY(100%);
                    left: 0;
                    width: 100%;
                    max-height: 300px;
                    height: 150px;
                }

                .infos{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

                .cards{
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 20px;
                    background-color: red;
                    width: 70%;
                    height: 70%;

                    .card{
                        background-color: gray;
                        aspect-ratio: 1/1.5;
                        border-radius: 8px;
                        border: 1px solid var(--color-sand);
                        position: relative;

                        .number{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 4.5rem;
                        }
                    }
                }
            }
        }
    }
}










@include mq(md) {}


@include mq(sm) {}


@include mq(xs) {}


@include mq(xxs) {}