@use 'variables' as *;
@use 'sass:map' as *;


@mixin mq($breakpoint) {
    $value: get($mq, $breakpoint);

    @if($value) {
        @media screen and (max-width:$value) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint #{$breakpoint} doesn's exist...";
    }
}



@mixin col-gen($bp: '-') {

    @for $i from 1 to 13 {
        .col#{$bp}#{$i} {
            grid-column: span $i;
        }
    }

}



@mixin color-card() {
    @each $value, $color in $colorCards {
        .card[data-value="#{$value}"] {
            background-color: $color;
        }
    }
}