$mq: (
    'md': 1350px,
    'sm': 1050px,
    'xs': 750px,
    'xxs': 550px
);

$colorCards: (
    0: #EA227B,
    1: #C6B2A0,
    2: #D5E628,
    3: #FC486B,
    4: #5EC7C4,
    5: #38AE41,
    6: #C56DA9,
    7: #D9837A,
    8: #B5D583,
    9: #FBA125,
    10: #E01206,
    11: #80A7D8,
    12: #A89885,
);