@use 'sass:map' as *;
@use 'components/variables' as *;
@use 'components/mixins' as m;
@use 'components/icons';
@use 'components/header';
@use 'pages/home';





*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    display: swap;
}

@font-face {
    font-family: 'LilitaOne';
    src: url('../fonts/LilitaOne.ttf');
    display: swap;
}

:root {
    --color-white: #fff;
    --color-black: #000;

    --base-px: 10px;
    --gap-content: 2rem;
}


html {
    font-size: var(--base-px);
}

body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    font-family: 'Inter';
}

img,
video {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    position: relative;
    padding: 120px 3% 0;
    content-visibility: auto;
    contain-intrinsic-size: auto 600px;
}

.h1{
    line-height: 1.2;
}


.container {
    width: get($mq, 'md') - 100px;
    margin-inline: auto;
}

.content>*:not(:last-child) {
    margin-bottom: var(--gap-content);
}


.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}





@include m.col-gen();



@include m.mq(md) {

    @include m.col-gen('-md-');

    .container {
        width: 1000px;
    }


}

@include m.mq(sm) {
    @include m.col-gen('-sm-');

    .container {
        width: 700px;
    }

}

@include m.mq(xs) {
    .container {
        width: 500px;
    }

    @include m.col-gen('-xs-');
}

@include m.mq(xxs) {

    .container {
        width: 90%;
    }

    [class*='col-'] {
        grid-column: span 12 !important;
    }

}